.meme{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.form-inline{
    min-width: 850px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.form-inline label{
    margin: 15px;
}

.form-inline button:hover{
    background-color:olive;
}

.generate{
    width: 100%;
    background-color:#04AA6d;
    color:whitesmoke;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10 px;
}
.preview{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

.bottomtext{
    left: 50%;
    bottom: 10px;
}

.toptext{
    left: 50%;
    top: 10px;
}